<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Login Sample</h1>
    <p>Welcome</p>
    <a href="/users/register">Register</a>
    <a href="/users/login">Login</a><br />
    <a href="/auth/github">Login through Github</a><br />
    <a href="/auth/google">Login through Google</a>
  </body>
</html>
