<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Github Login Sample</h1>
    <p>Welcome</p>
    <a href="/auth/github">Login through Github</a>
  </body>
</html>
